.App {
  text-align: center;
}

.table{
  background-color: lightgreen;
  margin:auto;
  border: 1px solid black;
  border-radius:5px;
}

.footer{
  background-color:red;
  height: 80px;
}

.navbar{
  background-color: indianred;
 margin: auto;

}

ul{
  list-style:none;
  padding:15px;
}

ul li{
  display: flex;
  justify-content: center;



}
a{
  padding-left:10px;
}
.studentprofile{
  background-color: lightgoldenrodyellow ;
}

.header{
  background-color: cyan ;
}

.studentlinks{
  display: flex;
  justify-content: center;
}